.article-item-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  header {
    h3,
    p {
      margin: 0.75rem 0em 0em;
    }
  }
}

.blog-post-title {
  color: #ff145a;
}

a {
  color: #ff668e;
}

hr {
  margin: 1.5em 0em;
}

@media (max-width: 800px) {
  .article-item-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    * {
      text-align: center;
    }
  }

  .post-thumbnail {
    display: none;
  }
}
