.position-container {
  width: 100%;
  * {
    margin: 1rem 0em 0em;
  }
}

.job-image {
  border-radius: 1em;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

.position-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 850px) {
  .position-wrapper {
    flex-flow: row wrap;
  }

  .job-image {
    margin: 1em;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.printer-container {
  transition: background-color 1s;
  padding: 1rem;
  background-color: var(--clickable-default-colour);
  border-radius: 1rem;
  height: 100%;
  display: flex;
}

.printer-container:hover {
  background-color: var(--clickable-hover-colour);
}

.printer {
  font-size: 2rem;
}

@media (max-width: 425px) {
  .printer-container {
    padding: 1rem;
  }
  .printer {
    font-size: 1rem;
  }
}
