@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: theme('colors.light');
}

body::-webkit-scrollbar-thumb {
  background: theme('colors.base');
  padding: 1px;
}

:root {
  background-color: theme('colors.darkest');
  /* overflow-x: hidden; */
}

html {
  background-color: theme('colors.darkest');
}

* {
  color: theme('colors.text');
}
