@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (prefers-color-scheme: light) {
  body.light {
    --clickable-default-colour: #f91066;
    --clickable-hover-colour: #ca054d;
    --bg-colour: #dddddd;
    --text-colour: #1b1b1b;
    --content-bg-colour: #eeeeee;
    --dark-mode-display: none;
    --light-mode-display: block;
    --accent-colour: #296eb4;
    background-color: var(--bg-colour);
  }
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --clickable-default-colour: #ff668e;
    --clickable-hover-colour: #ff145a;
    --bg-colour: #1b1b1b;
    --text-colour: #dddddd;
    --content-bg-colour: #303030;
    --accent-colour: #a0a5ff;
    --light-mode-display: none;
    --dark-mode-display: block;
    background-color: var(--bg-colour);
    color: var(--text-colour);
  }
}

body.light {
  --clickable-default-colour: #f91066;
  --clickable-hover-colour: #ca054d;
  --bg-colour: #dddddd;
  --text-colour: #1b1b1b;
  --content-bg-colour: #eeeeee;
  --dark-mode-display: none;
  --light-mode-display: block;
  --accent-colour: #296eb4;
  background-color: var(--bg-colour);
}

body.dark {
  --clickable-default-colour: #ff668e;
  --clickable-hover-colour: #ff145a;
  --bg-colour: #1b1b1b;
  --text-colour: #dddddd;
  --content-bg-colour: #303030;
  --light-mode-display: none;
  --dark-mode-display: block;
  --accent-colour: #a0a5ff;
  background-color: var(--bg-colour);
}

html {
  box-sizing: border-box;
  min-width: 320px;
  body {
    margin: 0;
    color: var(--text-colour);
    a {
      color: var(--clickable-default-colour);
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: var(--clickable-hover-colour);
      outline: none;
    }
  }
  font-family: "Montserrat", sans-serif;
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1.1em;
  }

  p,
  a,
  b {
    font-size: 1em;
  }
}

.layout-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.layout-container {
  width: 90%;
}

@media (min-width: 768px) {
  .layout-container {
    width: 65%;
  }
}

main {
  // min-height: 40vh;
  background-color: var(--content-bg-colour);
  padding: 0.5em 1em 1em;
  margin: 0;
}

header {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.dark-mode-exclusive {
  display: var(--dark-mode-display);
}

.light-mode-exclusive {
  display: var(--light-mode-display);
}
