.navbar-wrapper {
  display: grid;
  grid-template-columns: 95fr 5fr;
  align-items: center;
  padding: 1rem 0rem;

  a {
    color: var(--accent-colour);
    text-decoration: none;
  }
  .header-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .toggle-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-end;
  }

  .toggle-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(black, 0.25);
  }
}

@media (min-width: 1024px) {
  .navbar-wrapper {
    grid-template-columns: 10fr 65fr 5fr;

    .header-title {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    .navbar-container {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-content: space-around;
    }
    .toggle-container {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }
}
