.page-footer {
  padding: 0.2em 0em 0.5em;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  align-items: center;
  grid-gap: 1em;
  .link-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    // for the lines
    p {
      color: var(--clickable-default-colour);
    }
  }
  a {
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .page-footer {
    text-align: left;
    grid-template-columns: 2fr 1fr;
    .link-wrapper {
      justify-content: space-between;
    }
  }
}
