.position-wrapper {
  width: 100%;
  .job-image {
    width: 100%;
  }
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  padding: 0.5em 0em;
  row-gap: 1em;
  text-align: center;
  justify-items: center;
  // this is how you fix the images getting cropped
  align-items: end;
}

@media (min-width: 1024px) {
  .position-wrapper {
    column-gap: 1em;
    row-gap: unset;
    grid-template-columns: minmax(min-content, 350px) 1fr;
    text-align: left;
    .job-image {
      justify-self: end;
    }
    .position-container {
      justify-self: start;
    }
  }
}
