/**
 * prism.js albino-code based on tomorrow-night
 * @author Connor Williams
 */

code[class*="language-"],
pre[class*="language-"] {
  color: var(--text-color);
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border-radius: 0.5rem;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--bg-colour);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--code-comment-color);
}

.token.punctuation {
  color: var(--text-colour);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: var(--clickable-default-colour);
}

.token.function-name {
  color: var(--clickable-hover-colour);
}

.token.boolean,
.token.number,
.token.function {
  color: var(--clickable-default-colour);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: var(--clickable-hover-colour);
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--accent-colour);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: var(--code-string-colour);
}

.token.operator,
.token.entity,
.token.url {
  color: var(--text-colour);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: var(--code-string-colour);
}
