.blog-post-container {
  overflow-wrap: anywhere;
  .embedded-image {
    margin: 0 auto;
    outline: 1px solid var(--text-colour);
  }
  .post-thumbnail {
    width: 100%;
  }
}

.blog-post-header-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem;
  padding: 0.5em;
  text-align: center;
  align-items: end;
  justify-items: center;
}

.blog-post-nav-wrapper {
  overflow-wrap: anywhere;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media (min-width: 1024px) {
  .blog-post-header-wrapper {
    grid-template-columns: minmax(min-content, 350px) 1fr;
    text-align: left;
    .post-thumbnail {
      justify-self: end;
    }
    .blog-post-title {
      justify-self: start;
      align-self: start;
    }
    .position-container {
      justify-self: start;
    }
  }
}
